	
	*{ 
		margin: 0;
		padding: 0;
		box-sizing:  border-box;
		font-family: 'Roboto', sans-serif;
		
	}
	
	html,body {
		height: 100%;
		text-shadow: 1px 1px 1px #000;
		
	}
 
   
	section.main {
		width: 100%;
		min-height: 100%;
		background-image: url('imagensb/fundo-site.png');
		background-position: center;
		background-size: cover;

	}

	/*Logo*/
    
    .logo {
        position: absolute;
		margin-top: -10px;
		
    }
		
	/*Botão para trocar o idioma*/	
	
	.pt-br {
		margin-top: -50px;
        float: right;
		margin-right: 30px;
		
    }
	
	/*Menu*/
	
	#menu-hz {
	  background: #5C403B;
	  list-style: none;
	  padding: 0;
	  text-align: center;
	  font-size: 19px;

	}
	
   
	#menu-hz ul li{
		display: inline;
	
	}
  
	#menu-hz ul li a{
		color: white;  
		text-decoration: none;
		display: inline-block;
		padding: 25px;
	  
	}
  
	#menu-hz ul li a:hover{
		color: #EB0015;
		transition: color .3s;	

	}

	/*Título*/

    .title {
        text-align: center;
    }
    
    .title h2 {
        color: white;
        font-size: 4em;
        letter-spacing: 1.2px;
        margin-top: 100px;
    }

    .title p {
        color: white;
        margin-top: 10px;
		font-size: 2em;
    }

    .title p a {
        color: white;
    }